{% extends 'base_template.html' %}
{% from 'macros.html' import modal %}

{% block title %}Чаты{% endblock %}

{% block body %}
<div class="row h-100 overflow-hidden">
    <div hx-get="/element/chatlist" hx-trigger="every 5s" hx-target="#left_panel" hidden></div>
    <div class="col-sm-3 d-none d-md-block col-0 ps-4 text-center bg-dark border border-right border-dark border-3"
        hx-get="/element/chatlist" hx-trigger="load" hx-target="#left_panel" id="right_panel">
        <div>
            <div class="row text-light bg-dark p-3">
                <div class="col-1 rounded-circle bg-secondary me-2 py-1 d-flex justify-content-center"
                    hx-target="#right_panel" hx-trigger="click" hx-get="/element/get_search"><i
                        class="bi bi-search"></i>
                </div>
                <div class="col bg-secondary rounded-pill text-start py-1" hx-target="#right_panel" hx-trigger="click"
                    hx-get="/element/get_search">Поиск</div>
                <div class="col-1 rounded-circle bg-primary ms-2 py-1 d-flex justify-content-center"
                    data-bs-toggle="modal" data-bs-target="#exampleModal" hx-target="#modal-content"
                    hx-get="/element/new_chat_form" hx-trigger="click"><i class="bi bi-plus-lg"></i>
                </div>
            </div>
            <div style="overflow-x: hidden; overflow-y: auto; position: fixed; width: 23%; height: 100%;"
                id="left_panel">

            </div>
        </div>
    </div>
    <div class="col-md-9 bg-dark text-light p-5"
        style="background-image: url('https://i.pinimg.com/originals/70/70/e8/7070e81aa2602302bd79198e2d5f857d.jpg');"
        id="active_chat">
    </div>
</div>

<div hx-target="#active_chat" hx-trigger="load" hx-get="/element/open_chat?active_chat=True" hidden></div>
{{ modal() }}
{% endblock %}