<div class="row p-1" id="message_box" hx-trigger="load" hx-get="/element/get_messages?chat_id={{ id }}"
    style="height: 88%; width: 73%; overflow-x: hidden; overflow-y: auto; position: fixed; bottom: 12%; transform: rotateX(180deg);">
</div>
<div hx-trigger="every 1s" hx-get="/element/get_messages?chat_id={{ id }}" hx-target="#message_box" hidden></div>
<div class="row bg-dark rounded w-50" style="height: 8%; position: fixed; bottom: 2%; right: 8%;">
    <form class="p-3 row" method="post" hx-post="/forms/new_message" action="javascript:void(0)" ;>
        <div class="col-10">
            <input type="text" class="form-control" id="messageInput" placeholder="Введите сообщение"
                name="message_content">
        </div>
        <input type="text" name="username" value="{{user.username}}" hidden>
        <input type="text" name="chat_id" value="{{id}}" hidden>
        <div class="col">
            <button type="submit" class="btn btn-primary rounded-circle"><i class="bi bi-send-fill"></i></button>
        </div>
        <!-- <div class="col-1">
            <input type="file" name="photo" class="btn btn-secondary rounded" />
        </div> -->
    </form>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
</div>