{% extends 'base_template.html' %}

{% block title %}Чаты{% endblock %}

{% block body %}
<div class="row h-100 overflow-hidden">
    <div hx-get="/element/chatlist" hx-trigger="every 1s" hx-target="#left_panel" hidden></div>
    <div class="col-sm-3 d-none d-md-block col-0 ps-4 text-center bg-dark border border-right border-dark border-3"
        hx-get="/element/chatlist" hx-trigger="load" id="left_panel">Empty</div>
    <div class="col-md-9 bg-dark text-light p-5"
        style="background-image: url('https://i.pinimg.com/originals/70/70/e8/7070e81aa2602302bd79198e2d5f857d.jpg');"
        id="active_chat">
    </div>
</div>

{% if active_chat %}
<div hx-target="#active_chat" hx-trigger="load" hx-get="/element/open_chat?active_chat=True" hidden></div>
{% endif %}

{% endblock %}