{% extends 'base_template.html' %}

{% block body %}
<div class="bg-dark w-100 h-100 rounded d-flex justify-content-center align-items-center">
    <div class="bg-light rounded d-flex align-items-center flex-column p-5 text-dark"
        style="min-width: 30%; min-height: 40%;">
        <div class="rounded-circle bg-dark overflow-hidden my-3" style="width: 150px; height: 150px;">
            <img src="/user_files/user_pictures/{{profile.profile_pic}}.jpg" alt="" style="width: 150px; height: auto;">
        </div>
        <div class="my-1">
            <h2>{{profile.username}}</h2>
        </div>
        {% if is_self %}
        <button class="btn btn-warning btn-lg my-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
            hx-target="#modal-content" hx-get="/element/user_edit_form" hx-trigger="click">Редактировать
            профиль</button>
        <button class="btn btn-danger btn-lg my-3" hx-trigger="click" hx-get="/forms/delete_user">Удалить
            аккаунт</button>
        <button class="btn btn-danger btn-lg my-3" hx-trigger="click" hx-get="/auth/logout">Выйти</button>
        {% else %}
        <button class="btn btn-primary btn-lg my-3" hx-get="/element/fake_chat?username={{profile.username}}"
            hx-target="#active_chat" hx-trigger="click">Написать сообщение</button>
        {% endif %}
    </div>
</div>
<div hx-get="/element/chatlist" hx-trigger="load" hx-target="#left_panel" hidden></div>
{% endblock %}